:root {
    --board-bg-color: rgb(0, 0, 0);
    --block-bg-color: rgb(60, 60, 60);
    --cell-bg-color: rgb(101, 101, 101);
    --font-color: rgb(198, 152, 250);
    --button-color: rgb(198, 152, 250);
    --button-hover-color: rgb(66, 15, 161);
    --cell-size: 50px;
}

.container
{
    display: block;
    position: fixed;
    width: 400px;
    height: 430px;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.85);
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    color: azure;
}

.innerContainer {
    font-family: Bahnschrift, serif;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

/* Eingabefelder und Buttons einheitlich gestalten */
.innerContainer input[type="text"],
.innerContainer input[type="password"],
.innerContainer select {
    font-family: Bahnschrift, serif;
    font-size: 17px;
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    box-sizing: border-box;
}

.innerContainer input[type="submit"] {
    font-family: Bahnschrift, serif;
    font-size: 17px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: var(--board-bg-color);
    margin-top: 5px;
    padding: 7px 10px 5px;
    cursor: pointer;
}

.innerContainer input[type="submit"]:hover {
    background-color: var(--button-hover-color) ;
    color: azure;
}

.right form {
    display: flex;
    flex-direction: column;
    align-items: self-end;
}

.right label {
    margin-bottom: 3px;
    font-family: Bahnschrift;
    font-size: 10px;
}

.inputField {
    font-family: Bahnschrift;
    font-size: 10px;
    width: 102px;
}

.button-group {
    display: flex;
    gap: 6px;
    margin-top: 3px;
}

.button_LuR {
    width: 52px;
    font-family: Bahnschrift, serif;
    font-size: 11px;
    background-color: var(--button-color);
    border: 0px;
    border-radius: 3px;
    color: var(--board-bg-color);
    cursor: pointer;
}

.button_LuR:hover {
    background-color: var(--button-hover-color);
    color: azure;
}

.button_G {
    font-family: Bahnschrift, serif;
    font-size: 20px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: var(--board-bg-color);
    margin-top: 15px;
    cursor: pointer;
}

.button_G:hover {
    background-color: var(--button-hover-color);
    color: azure;
}

.button_GG {
    width: 200px;
    font-family: Bahnschrift, serif;
    font-size: 30px;
    background-color: var(--button-color);
    border: none;
    border-radius: 5px;
    color: var(--board-bg-color);
    margin-top: 25px;
    cursor: pointer;
}

.button_GG:hover {
    background-color: var(--button-hover-color);
    color: azure;
}

body {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    align-items: flex-end;
    max-width: 100%;
}

.left {
    vertical-align: bottom;
    flex: auto;
    padding: 0px;
    text-align: left;
}

.right {
    flex: auto;
    text-align: left;
    padding-bottom: 8px;
}

.board {
    width: 493px;
    height: 494px;
}

.footer {
    text-align: center;
    padding: 10px;
}

.table
{
    border-spacing: unset;
}

.block
{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border-style: solid;
    border-color: var(--cell-bg-color);
    border-width: 1px;
    text-align: center;
    font-family: Bahnschrift, serif;
    font-size: xx-large;
    color: var(--font-color);
}

.cell:nth-child(3n) {
    border-right: 5px solid var(--block-bg-color);
}

.cell:last-child {
    border: 1px solid var(--cell-bg-color);
}

tr:nth-child(3n) .cell {
    border-bottom: 5px solid var(--block-bg-color);
}

tr:last-child .cell {
    border-bottom: 1px solid var(--cell-bg-color);
}

.font_G {
    margin: 0;
    padding: 5px 0px 0px 0px;
    font-family: Bahnschrift, serif;
    font-size: 20px;
}

.input-style {
    text-align: left;
    display: inline-block;
    font-family: Bahnschrift, serif;
    font-size: 10px;
    width: 102px;
    height: 12px;
    margin-top: 1px;
    padding: 2px 3px 2px 2px;
    border: 1px solid var(--cell-bg-color);
    border-radius: 2px;
}